<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css.css')}}" /> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>
    <div class="row header-chat">
      <div class="header-container">
        <img src="../static/images/logoGalicia.png" class="galicia-img" />
        <h1 class="title-header">GalaBot</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 mr-auto ml-auto">
        <form>
          <div id="chatbox">
            <div class="col-md-11 ml-auto mr-auto chatbot-res-container">
              <img
                src="../static//images/lucide_bot.svg"
                class="img-gala-bot"
              />
              <p class="botText">
                <span>Soy Gala</span>
              </p>
            </div>
          </div>
          <div id="userInput" class="row">
            <div class="col-md-10 btn-send-con">
              <input
                id="text"
                type="text"
                name="msg"
                placeholder="Escriba un comentario..."
                class="form-control"
                autocomplete="off"
              />
              <button type="submit" id="send" class="btn btn-warning">
                <img src="../static/images/ic_round-send.svg" />
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <script>
      $(document).ready(function () {
        $("form").on("submit", function (event) {
          var rawText = $("#text").val();
          var userHtml = '<div class="col-md-11 ml-auto mr-auto chatbot-res-container chatbot-user-container"><p class="userText"><span>' + rawText + "</span></p></div>";
          $("#text").val("");
          $("#chatbox").append(userHtml);
          document.getElementById("userInput").scrollIntoView({
            block: "start",
            behavior: "smooth",
          });
          $.ajax({
            data: {
              msg: rawText,
            },
            type: "POST",
            url: "/get",
          }).done(function (data) {
            var botHtml =
              '<div class="col-md-11 ml-auto mr-auto chatbot-res-container"><img src="../static//images/lucide_bot.svg" class="img-gala-bot" /><p class="botText"><span>' +
              data +
              "</span></p></div>";
            $("#chatbox").append($.parseHTML(botHtml));
            document.getElementById("userInput").scrollIntoView({
              block: "start",
              behavior: "smooth",
            });
          });
          event.preventDefault();
        });
      });
    </script>
  </body>
</html>
